<h1>Reservations#create</h1>
<p>Find me in app/views/reservations/create.html.erb</p>
<p>These are the book reservations: <%= Reservation.create %></p>
form_tag('/posts')
# => <form action="/posts" method="post">
