<h1>Reservations#delete</h1>
<p>Find me in app/views/reservations/delete.html.erb</p>
<p>These are the book reservations: <%= Reservation.destroy %></p>
form_tag('/posts')
# => <form action="/posts" method="post">
