<h1>Reservations#new</h1>
<p>Find me in app/views/reservations/new.html.erb</p>
<p>Adding a new reservation: <%= Reservation.create %></p>
<p>form_tag('/posts')</p>
<p># => <form action="/posts" method="post"></p>
