<h1>Reservations#update</h1>
<p>Find me in app/views/reservations/update.html.erb</p>
<p>These are the book reservations: <%= Reservation. %></p>
form_tag('/posts')
# => <form action="/posts" method="post">
